.cart-image {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 130px;
    border-radius: 10px;
}

.cart-image-container {
    display: flex;
    object-fit: contain;
    width: 160px;
    height: 130px;
}

.cart-top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    font-size: 25px;
    padding-top: 50px;
}

.cart-middle-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
    padding-top: 30px;
    padding-left: 30px;
}

.cart-home-link {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    border: none;
    cursor: pointer;
    background: none;
}
.cart-home-link:hover{
    background: 100px rgba(34, 34, 34, 0.1);
    text-align: center;
    border-radius: 30px;
}

.cart-right-div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 400px;
    padding: 10px 10px 10px 10px;
}

.cart-left-div {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.cart-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cart-each-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
    border-bottom: 0.5px solid rgba(34,34,34,.2);
}

.cart-purchase-button {
    width: 344px;
    height: 48px;
    background-color: black;
    text-align: center;
    color: white;
    border-radius: 40px;
    border: none;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.cart-purchase-button:hover {
    background-color: grey;
}

.cart-item-total {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.product-link {
    text-decoration: none;
    font-size: 20px;
    color: black
}
.product-link:hover{
text-decoration: underline;
}

.cart-dropdown-quantity {
    width: 40px;
    border-color: rgba(34, 34, 34, 0.1);
    padding: 3px;
    border-radius: 3px;
    font-size: 16px;
}

.cart-item-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}
