#header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    border-bottom: solid 1px rgb(209, 207, 207, 0.5)
}

#header__left{
    display: flex;
    justify-content: center;
    align-items: center;
}

#header__icon{
    width: 10em;
    height: 3em;
    float: left;
    /* margin-top:1.5vh; */
    margin-left: 14vh
}

#search_bar_container{
    width:50%;

}

#search_bar{
    border: solid 1px #222222;
    margin-top: 1%;
    width:95%;
    height: 70%;
    border-radius: 20px;
}

#shopping_cart_icon{
    width : 3em;
    height: 3em
}
