.mainproduct_container {
    display: flex;
    flex-direction: column;
}

.productcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 15px;
}

.productdetailimage {
    height: 650px;
    width: 650px;
    border-radius: 10px;
}

.productdetailname {
    font-size: 20pt;
    padding: 15px;
}

.productdetailprice {
    font-size: 26pt;
    font-weight: bold;
    padding: 15px;
}

.product_username_follow_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16pt;
}

.heart_follow_div {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    align-items: center;
}

.select_quantity_main {

padding: 15px;
}

.Buynow_button {
    cursor: pointer;
    background-color: white;
    border-radius: 25px;
    height: 40px;
    width: 100%;
    font-weight: bold;
}

.Addtocart_button {
    cursor: pointer;
        background-color: black;
        color: white;
        border-radius: 25px;
        height: 40px;
        width: 100%;
        font-weight: bold;
}

.descriptiondetail_cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.descriptiondetail_text {
    font-size: 10pt;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.descriptiondetail_medal {
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
}

.hooray_text {
    font-weight: bold;
}

.productdetail_text {
    padding: 15px;
}

.productdetail_listtext {
    padding: 0px 25px 10px;
}

.shipping_info_detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 15px 40px 15px;
}



.border-Line {
    border-bottom: 1px solid lightgrey;
    width: 125px;
}

.shipping_info_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 15px 15px 15px;
}

.date_string_text {
    font-size: 10pt;
    font-weight: bold;
}

.shipping_text {
    font-size: 8pt;
    padding-top: 5px;
}


.reviewdetail_div {
    width: 650px;
}

.review_main_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
}

.review_inner_line_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review_stars_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_review_container {
    padding: 15px;
}

.review_container_text {
    padding-top: 5px;
    font-size: 15pt;
}

.review_user_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;

}

.free_text {
    font-size: 25pt;
    padding: 15px;
    margin-bottom: 5px;
}

.green_bubble_text {
    border: 20px solid rgb(225, 235, 228);
    border-radius: 10px;
    background-color: rgb(225, 235, 228);
    width: 340px;
    margin-left: 15px;
    margin-bottom: 25px;
}

.return_exchange_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-bottom: 10px;
}

.return_exchange_smalltext {
    font-size: 10pt;
    padding-bottom: 10px;
    padding-top: 10px;
    color: grey;
}

.return_exchange_bigtext {
    font-size: 20pt;
}

.purchase_protect_div {
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
}

.purchase_protect_text {
    font-size: 9pt;
}

.meet_seller_div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;

}

.meet_seller_text {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.more_from_seller_div {
    display: flex;
    flex-direction: column;
}

.productdetail {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.group_info_div {
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: rgb(51, 71, 106);
color: white;
height: 150px;
padding: 50px;
}

.footer_main_div {
    display: flex;
    justify-content: space-between;
 
}

.footer_text_div {
    display: flex;
    flex-direction: row;
}

.more_info_text {
    text-decoration: none;
    color: white;
    outline: none;
}



.more_info_text:hover {
    text-decoration: underline;
}

.test {
    background-color: rgb(36, 37, 70);
    justify-content: center;

    padding: 25px;
        color: white;
}